<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lwnotifyheadsup">

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application>
        <service
            android:name=".CallNotification"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".FullScreenNotification"
            android:exported="false" />

        <service
            android:name=".LwNotifyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FullScreenNotifyService"
            android:exported="false" />
    </application>

</manifest>
